<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>CPF Calculator</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>

	<body>
		<div id="app" class="m-3">

			<div class="row">
				<div class="col-lg-4 col-md-12 mx-auto mb-3">
					<div class="card mb-3">
						<div class="card-header">Your Information</div>
						<div class="card-body">
							<div class="row my-1">
								<label class="form-label col-4 text-end align-middle">Age</label>
								<div class="col-8">
									<input type="number" class="form-control" v-model="age" @keyup="inputUpdated();">
								</div>
							</div>

							<div class="row my-1">
								<label class="form-label col-4 text-end align-middle">Monthly Income</label>
								<div class="col-8">
									<input type="number" class="form-control" v-model="monthlyIncome" @keyup="inputUpdated();">
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">Result</div>
						<div class="card-body">
							<div class="row">
								<div class="col-12 row" v-for="(value, label) in basicResults">
									<label class="form-label col-7 text-end align-middle">{{ label }}:</label>
									<div class="col-5">
										<label>{{ value.value }}</label>
									</div>
								</div>
							</div>

							<hr>
							<div class="row">
								<div class="col-12 row" v-for="(value, label) in allocationResults">
									<label class="form-label col-7 text-end align-middle">{{ label }}:</label>
									<div class="col-5">
										<label>{{ value.value }}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 col-md-12 mx-auto mb-3">
					<div class="card mb-3">
						<div class="card-header">Contribution Rates</div>
						<div class="card-body table-responsive">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th scope="col">Min Age</th>
										<th scope="col">Max Age</th>
										<th scope="col">Employer</th>
										<th scope="col">Employee</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="rate in contributionRates">
										<td scope="row" :class="[rate == contributionRate ? 'bg-info': '']">
											<label>{{ rate.minAge }}</label>
										</td>
										<td scope="row" :class="[rate == contributionRate ? 'bg-info': '']">
											<label>{{ rate.maxAge }}</label>
										</td>
										<td scope="row" :class="[rate == contributionRate ? 'bg-info': '']">
											<div v-if="rate == contributionRate" class="input-group">
												<input type="number" class="form-control" v-model="rate.employer" @keyup="inputUpdated();">
												<span class="input-group-text">%</span>
											</div>
											<label v-else>{{ rate.employer }}%</label>
										</td>
										<td scope="row" :class="[rate == contributionRate ? 'bg-info': '']">
											<div v-if="rate == contributionRate" class="input-group">
												<input type="number" class="form-control" v-model="rate.employee" @keyup="inputUpdated();">
												<span class="input-group-text">%</span>
											</div>
											<label v-else>{{ rate.employee }}%</label>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="card">
						<div class="card-header">CPF Allocation</div>
						<div class="card-body">
							<div class="card-body table-responsive">
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th scope="col">Min Age</th>
											<th scope="col">Max Age</th>
											<th scope="col">OA Allocation</th>
											<th scope="col">SA Allocation</th>
											<th scope="col">MA Allocation</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="allo in allocations">
											<td scope="row" :class="[allo == allocation ? 'bg-info': '']">
												<label>{{ allo.minAge }}</label>
											</td>
											<td scope="row" :class="[allo == allocation ? 'bg-info': '']">
												<label>{{ allo.maxAge }}</label>
											</td>
											<td scope="row" :class="[allo == allocation ? 'bg-info': '']">
												<div v-if="allo == allocation" class="input-group">
													<input type="number" class="form-control" v-model="allo.oaAllocation" @keyup="inputUpdated();">
													<span class="input-group-text">%</span>
												</div>
												<label v-else>{{ allo.oaAllocation }}%</label>
											</td>
											<td scope="row" :class="[allo == allocation ? 'bg-info': '']">
												<div v-if="allo == allocation" class="input-group">
													<input type="number" class="form-control" v-model="allo.saAllocation" @keyup="inputUpdated();">
													<span class="input-group-text">%</span>
												</div>
												<label v-else>{{ allo.saAllocation }}%</label>
											</td>
											<td scope="row" :class="[allo == allocation ? 'bg-info': '']">
												<div v-if="allo == allocation" class="input-group">
													<input type="number" class="form-control" v-model="allo.maAllocation" @keyup="inputUpdated();">
													<span class="input-group-text">%</span>
												</div>
												<label v-else>{{ allo.maAllocation }}%</label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="assets/js/index.js"></script>
	</body>

</html>